
<div class="calendar">
    <div class="calendar__addToggle">
        <mat-button-toggle-group name="fontStyle" aria-label="Font Style" [(value)]="mode">
            <mat-button-toggle [value]="getCalendarModeType('SHOWING')">Show meetings</mat-button-toggle>
            <mat-button-toggle [value]="getCalendarModeType('ADDING')">Arrange new meeting</mat-button-toggle>
        </mat-button-toggle-group>
    </div>
    <div class="calendar__changeWeeks">
        <mat-icon class="calendar__arrow" *ngIf="countWeek > 0" (click)="previousWeek()">arrow_back_ios</mat-icon>
        <span class="spacer"></span>
        <mat-icon class="calendar__arrow" (click)="nextWeek()">arrow_forward_ios</mat-icon>
    </div>
    <div class="calendar__week">
        <div *ngFor="let day of week" class="tale">
            <div class="day">{{DAYS[day.getDay()]}}</div>
            <div class="date">{{day | date}}</div>
            <div class="hours">
                <div
                    *ngFor="let time of TIMES"
                    class="hour"
                    [ngClass]="{'mark': isAddingMode()}"
                    [ngStyle]="getColor(time, day)"
                    [matTooltip]="getTooltip(time, day)"
                    matTooltipClass="tooltip"
                    matTooltipPosition="after"
                    (click)="onSelectTime(day, time)"
                    (mouseover)="onHoverTime(day, time)"
                >
                    {{time}}
                </div>
            </div>
        </div>
    </div>
</div>