
<div class="calendar">
    <div class="calendar__addToggle">
        <mat-button-toggle-group name="fontStyle" aria-label="Font Style" [(value)]="mode">
            <mat-button-toggle [value]="SHOWING">Show meetings</mat-button-toggle>
            <mat-button-toggle [value]="ADDING">Arrange new meeting</mat-button-toggle>
        </mat-button-toggle-group>
    </div>
    <div class="calendar__week">
        <div *ngFor="let day of getWeek()" class="tale">
            <div class="day">{{DAYS[day.getDay()]}}</div>
            <div class="date">{{day | date}}</div>
            <div class="hours">
                <div
                    *ngFor="let hour of HOURS"
                    class="hour"
                    [ngClass]="{'mark': mode === ADDING}"
                    [ngStyle]="getColors(hour, day)"
                    [matTooltip]="getTooltip(hour, day)"
                    matTooltipClass="tooltip"
                    matTooltipPosition="after"
                >
                    {{hour}}
                </div>
            </div>
        </div>
    </div>
</div>