<form [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <h2 mat-dialog-title>Creating user</h2>
    <div mat-dialog-content>
        <div>
            <mat-form-field appearance="outline">
                <mat-label>Username</mat-label>
                <input matInput formControlName="username">
                <mat-error *ngIf="userForm.controls['username'].invalid">{{userForm.controls['username'].errors.message}}</mat-error>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="outline">
                <mat-label>Password</mat-label>
                <input matInput type="password" formControlName="password">
                <mat-error *ngIf="userForm.controls['password'].invalid">{{userForm.controls['password'].errors.message}}</mat-error>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="outline">
                <mat-label>Password confirmation</mat-label>
                <input matInput type="password" formControlName="passwordConfirmation">
                <mat-error *ngIf="userForm.controls['passwordConfirmation'].invalid">{{userForm.controls['passwordConfirmation'].errors.message}}</mat-error>
            </mat-form-field>
        </div>
    </div>
    <div mat-dialog-actions>
        <button mat-button (click)="onNoClick()">Cancel</button>
        <button mat-button type="submit" cdkFocusInitial>Create</button>
    </div>
</form>
